<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="analytics.css" rel="stylesheet" />
</head>
<body>
    {% include 'sidebar.html' %}
<!--    {% include 'menu_button.html' %}-->
<!--    {% include 'bars.html' %}-->
    {% include 'pie.html' %}
    {% include 'pie2.html' %}
    {% include 'pie3.html' %}
    {% include 'spline.html' %}
    {% include 'scatter.html' %}
    {% include 'scatter1.html' %}
    {% include 'combo_chart.html' %}
    {% include 'combo_chart1.html' %}
    {% include 'combo_chart2.html' %}
    <div class="home_content">
        <div class="text">Automobile Dashboard</div>
        <div id="piechart1_3d"></div>
        <div id="piechart2_3d"></div>
        <div id="piechart3_3d"></div>
        <div id="chart_div"></div>
        <div id="scatter"></div>
        <div id="scatter1"></div>
        <div id="combo_chart"></div>
        <div id="combo_chart1"></div>
        <div id="combo_chart2"></div>

    </div>

</body>
</html>